@use '@styles/mixins' as *;
@use '@styles/theme';

.listItem {
  cursor: pointer;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 4.4rem;
  height: 4.4rem;
}
