{
  "root": true,
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module",
    "useJSXTextNode": true
  },
  "extends": ["airbnb", "airbnb/hooks", "plugin:@typescript-eslint/recommended", "prettier"],
  "plugins": ["prettier", "@typescript-eslint", "simple-import-sort"],
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "typescript": {
        "project": "tsconfig.json"
      }
    }
  },
  "rules": {
    "prettier/prettier": ["error"],
    "lines-between-class-members": ["error", "always", { "exceptAfterSingleLine": true }],
    "no-empty-function": "off",
    "no-shadow": "off",
    "no-use-before-define": "off",
    "no-useless-constructor": "off",
    "no-unused-expressions": "off",
    "sort-imports": "off",
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "mjs": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "import/order": "off",
    "import/prefer-default-export": "off",
    "react/function-component-definition": "off",
    "react/jsx-filename-extension": ["error", { "extensions": [".jsx", ".tsx"] }],
    "react/jsx-handler-names": [
      "error",
      {
        "eventHandlerPrefix": "handle",
        "eventHandlerPropPrefix": "on"
      }
    ],
    "react/jsx-one-expression-per-line": "off",
    "react/jsx-props-no-spreading": "off",
    "simple-import-sort/exports": "error",
    "simple-import-sort/imports": [
      "error",
      {
        "groups": [
          ["^\\u0000"],
          ["^@?\\w", "^@two(/.*|$)", "^@app(/.*|$)", "^@test(/.*|$)", "^", "^\\."]
        ]
      }
    ],
    "@typescript-eslint/camelcase": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-member-accessibility": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/indent": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-useless-constructor": "error",
    "@typescript-eslint/no-unused-vars": "error",
    "@typescript-eslint/no-var-requires": "off"
  },
  "overrides": [
    {
      "files": ["*.ts"],
      "rules": {
        "react/destructuring-assignment": "off"
      }
    },
    {
      "files": ["*.ts", "*.tsx"],
      "rules": {
        "import/default": "off",
        "import/named": "off",
        "import/namespace": "off",
        "react/require-default-props": "off",
        "react/prop-types": "off"
      }
    },
    {
      "files": ["*.config.js", "**/scripts/**/*.js"],
      "rules": {
        "no-console": "off",
        "import/no-extraneous-dependencies": "off"
      }
    },
    {
      "files": [
        "**/e2e/**/*.*",
        "**/test/**/*.*",
        "*.test.*",
        "**/__mocks__/**/*.*",
        "setupTests.ts"
      ],
      "env": {
        "jest": true
      },
      "rules": {
        "global-require": "off",
        "no-underscore-dangle": "off",
        "no-unused-expressions": "off",
        "no-unused-vars": "off",
        "import/first": "off",
        "import/no-extraneous-dependencies": "off",
        "@typescript-eslint/ban-ts-comment": "off",
        "@typescript-eslint/no-empty-function": "off",
        "@typescript-eslint/no-non-null-assertion": "off",
        "@typescript-eslint/no-unused-vars": "off"
      }
    }
  ]
}
