@forward '~@disruptive-labs/ui/dist/themes/default' with (
  $font-family: (
    'Lato',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    'Noto Sans',
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji',
  )
  !default,
  $font-family-heading: (
    'Mulish',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    'Noto Sans',
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji',
  )
  !default,
  $color-primary_light: #047856,
  $color-primary_dark: #047856,
  $color-secondary_light: #1f2937,
  $color-secondary_dark: #1f2937,
  $font-h1-size: 4rem,
  $font-h2-size: 2.4rem,
  $font-h3-size: 2.4ren,
  $font-h4-size: 2rem,
  $font-s1-weight: 400,
  $font-s2-weight: 400,
  $screen-2xl: 128rem,
  $container-padding: 1.8rem,
  $dark-mode-enabled: false !default
);
