@use '@styles/mixins' as *;
@use '@styles/theme';

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem 0 2rem;

  @include mq(md) {
    padding: 8rem 0 2rem;
  }

  .logo {
    width: 16rem;
    height: 2.5rem;
    display: inline-block;
    text-align: center;
  }
}

.content {
  @include container();
  max-width: 75rem !important;
  width: 100%;
  padding-top: 2rem;
  text-align: center;

  form {
    width: 100%;
    text-align: left;
  }
}

.img {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
