@use '@styles/mixins' as *;
@use '@styles/theme';

.sidebar {
  > div > div {
    max-width: 12rem !important;
  }
  &Desktop {
    @include mq(lg, max) {
      display: none;
    }
  }
}

.logo {
  img {
    width: 12rem !important;
  }
}

.avatar {
  min-width: 4.8rem;
}

.accountItem {
  &.active {
    > ul {
      background: var(--color-grey-200);
      color: var(--color-text);
      border-radius: 5px;
    }
  }

  > ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
