$color-primary: #047856;
$color-secondary: #1f2937;

$color-black: #000;
$color-white: #fff;
$color-transparent: transparent;

$color-grey-100: #f3f4f6;
$color-grey-200: #e5e7eb;
$color-grey-300: #d1d5db;
$color-grey-400: #9ca3af;
$color-grey-500: #6b7280;
$color-grey-600: #4b5563;
$color-grey-700: #374151;
$color-grey-800: #1f2937;
$color-grey-900: #111827;

$color-danger: #dc2626;
$color-info: #0369a1;
$color-success: #047857;
$color-warning: #b45309;

$color-text: $color-grey-800;
$color-text-muted: $color-grey-600;

$color-text-inverse: $color-grey-100;
